@model ClassroomLibrary.ViewModels.LoginViewModel

<h1>Hello!</h1>
<p>What would you like to do today?</p>
<p><a href="@Url.Action("Index", "UserLibrary")"><span>See your library</span></a></p>
<p><a href="@Url.Action("Index", "Category")"><span>See your categories</span></a></p>





